<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appname %></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <% if (includeBootstrap) { %>
    <div class="fluid-container">
      <div class="header"></div>

      <div class="row">
        <div class="col-lg-12">
          <div id="potree_render_area"></div>
          <div id="potree_buttons">
            <img id="potree_menu_toggle" src="../resources/icons/menu_button.svg" />
            <img id="potree_map_toggle" src="../resources/icons/map_icon.png"/>
          </div>

          <div id="potree_map" class="mapBox">
            <div id="potree_map_header" >
            </div>
            <div id="potree_map_content" class="map"></div>
          </div>

          <!-- HEADING -->
          <div id="potree_description" class="potree_info_text"></div>

          <div id="potree_sidebar_container"> </div>
        </div>
      </div>

      <div class="footer">
        <div id="potree_description"></div>
      </div>
    </div>
    <% } else { %>
    <div id="renderarea"></div>
    <% } %>

    <!-- custom version of potree viewer.js with hooks for rendering extra stuff -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <% if (includeBootstrap) { %>
    <!-- build:js scripts/plugins.js -->
    <% bsPlugins.forEach(function (plugin) { -%>
    <script src="<%= bsPath + plugin %>.js"></script>
    <% }) -%>
    <!-- endbuild -->
    <% } %>

    <!-- overwrite other viewer -->
    <!-- build:js scripts/viewer.js -->
    <script src="scripts/potreeRenderer.js"></script>
    <script src="scripts/viewer.js"></script>
    <script src="scripts/map.js"></script>
    <script src="scripts/profile.js"></script>
    <script src="bower_components/potree/src/FirstPersonControls.js"></script>

    <!-- build:js scripts/viewer.js -->


    <!-- build:js scripts/main.js -->
    <% if (includeWater) { %>
    <script src="resources/watershader/Detector.js"></script>
    <script src="resources/watershader/Mirror.js"></script>
    <script src="resources/watershader/WaterShader.js"></script>
    <script src="resources/watershader/water.js"></script>
    <% } %>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
